# Testing Notebook - jirving

In [1]:
!pip install -U fsds_100719
from fsds_100719.imports import *

fsds_1007219  v0.4.39 loaded.  Read the docs: https://fsds.readthedocs.io/en/latest/

In [2]:
from fsds_100719.ds import ihelp, reload

import jirving as ji

help(ji)

Help on module jirving:

NAME
    jirving

DESCRIPTION
    My Template Module
    Name: James M. Irving
    Email: james.irving.phd@gmail.com
    GitHub Profile: https://github.com/jirvingphd

FUNCTIONS
    check_column(df, col_name, n_unique=10)
        Displays info on null values, datatype, unqiue values
        and displays .describe()

        Args:
            df (df): contains the columns
            col_name (str): name of the df column to show
            n_unique (int): Number of unique values top show.

        Return:
            fig, ax (Matplotlib Figure and Axes)

    testing()

FILE
    /Users/jamesirving/Documents/GitHub/_STUDY GROUP PREP/fsds_100719/fsds_100719/ft/jirving.py

In [3]:
df = fs.datasets.load_mod1_proj()
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [ ]:
fs.ft.

In [ ]:
reload(ji)

In [ ]:
ji.check_column(df,'condition')

In [ ]:
# fs.ds.ihelp_menu(ji.check_column)

In [ ]:
# def check_column(df, col_name, n_unique=10):
#     """Displays info on null values, datatype, unqiue values
#     and displays .describe()
    
#     Args:
#         df (df): contains the columns
#         col_name (str): name of the df column to show
#         n_unique (int): Number of unique values top show.
    
#     Return:
#         fig, ax (Matplotlib Figure and Axes)
#     """
    
#     print('DataType:')
#     print('\t',df[col_name].dtypes)
    
#     num_nulls = df[col_name].isna().sum()
#     print(f'Null Values Present = {num_nulls}')
    
#     display(df[col_name].describe().round(3))
    
#     print('\nValue Counts:')
#     display(df[col_name].value_counts(n_unique))
    
#     ## Add some EDA figures
#     fig, ax = plt.subplots(ncols=2)
    
#     return fig,ax
    
    
    
# check_column(df,'condition')